body{
background-color:#fff6f1;

background-image: url(img/fondo.png);
background-position: center
center;
}

img{
  transition: all 0.9s linear;
}
img:hover{
  transform: scale(0.9);
}


nav ul li{
  display:inline-block;
  margin-right:5px;
}



#contenido{
  width:1150px;
  height:750px;
  background-color:#1d1d1d;
  color:#fff;
  border-style: double;
  margin-left: 70px;
  border-radius:20px;
  padding:10px;
}

